# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\hyndai_it&e\algorithm\Team_6_algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
